$fontall:14px/1.5 arial,"微软雅黑","Microsoft Yahei","Hiragino Sans GB",sans-seri;
article, aside, details, summary, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, s, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {border: 0 none;margin: 0;outline: 0 none;padding: 0;}
* {word-break: break-all;}
body, html {color:#444; font:$fontall; _background-image:url(about:blank); _background-attachment:fixed;/** 防止 ie6 抖动 **/}
input { margin: 0;padding: 0;vertical-align:middle;font:$fontall; outline:none;}
textarea{font:$fontall; outline:none;}
select{cursor: pointer; vertical-align: middle; font:$fontall; padding:0; margin:0; outline:none;}
option{ padding:0; margin:0; outline:none;}
li {list-style-type: none;}
img {text-align: center; vertical-align: middle;}
address, cite, dfn, em, var { font-style: normal;}
a { text-decoration: none; color:#444; cursor:pointer; transition: all 0.4s; -webkit-transition:all 0.4s; -moz-transition: all 0.4s;}
a:hover { text-decoration: underline;color:#f30;}
img{border:0px;}
.clear{ clear: both; padding: 0; margin: 0; line-height: 0;}

$mainColor:#609eff;

.posR{position: relative;}
.posA{ position: absolute;}
.posCenter{ left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
.bgMain{ background: #F5F5F5;}
.boxShdow{ box-shadow: 0 1px 1px #efebeb;}

.listPage, .detailed{ @extend .posA, .posCenter, .bgMain; z-index: 100;}
nav{
    background:#FFF; display: flex; display:-webkit-box; @extend .boxShdow;
    a{ 
        display: block; flex: 1; text-align: center; height: 40px; line-height: 40px; text-decoration: none;
        &.on{color: #1bb1fb; font-weight: bold; font-size: 1.1rem; border-bottom:2px solid #1bb1fb;}
    }
}

.List{
    min-height: 200px;
    ul{
        // @extend .posA;
        // left: 0; top:54px; right: 0; bottom: 0; margin: auto; overflow: hidden; overflow-y: auto;
        li{ 
            background: #FFF; margin: 9px 10px; padding: 10px;
            h3{ text-align: justify; font-weight: normal; color: #333;}
            p{ 
                padding: 5px 0 0; color: #999;
                time{ float: right;}
            }
        }
    }
}
.noMessage{
    text-align: center; color: #dedede; padding:10em 0;
    dt{font-size:6em; letter-spacing:-3px; font-weight: bold; font-style: italic; height: 100px;}
    dd{ 
        font-size: 1.2em;
        span{ font-size: 1.4em;}
        p{  
            display: inline-block; padding: 10px; border-radius: 3px; margin: 20px 0 0;
        }
    }

}

.xuanfu{
    position: fixed; right: 10px; bottom:10px;
    span{ display: block; width: 40px; height: 40px; text-align: center; line-height:45px; background: rgba(255,255,255,0.7); border-radius: 50%; font-size: 18px; color:$mainColor; box-shadow: 0 1px 2px #C5C5C5;}

}

.van-tabs__line{ background: $mainColor;}
// .van-tabs{ @extend .posA, .posCenter;}
// .van-tabs__content--animated{ position: absolute; left: 0; top: 44px; right: 0; bottom: 0; margin: auto;}